.tabela-cenovnik {
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    text-align: center;
    border-collapse: collapse;
}

.tabela-cenovnik td {
    padding: 8px;
    border-bottom: 1px solid #FFFFFF;
    background-color: #4d4d4d;
}

#cenovnik {
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
    margin-right: auto;
    margin-left: auto;
    height: 3px;
}



